.bump {
	margin-top: 200px;
	margin-left: 200px;
}

.box {
	height:450px;
	width:850px;
	position: fixed;
	top: 100px;
}

.left-box {
	left: -1450px;
	background-color: #111;
}

.center-box {
	left: 200px;
	background-color: #111;
}

.right-box {
	left: 1450px;
	background-color: #111;
}

/* Pagination */
.page-control {
	margin-top: 40px;
	text-align: center;
}

.sliderPage {
	background: url('../img/bullets.png') no-repeat 0 -20px;
	display: inline-block;
	width: 22px;
	height: 20px;
	text-indent: -9999px;
}

.sliderActive {
	background: url('../img/bullets.png') no-repeat -4px -2px;
	display: inline-block;
	width: 15px;
	height: 15px;
	text-indent: -9999px;
}

/* Arrows */
.arrow-left { 
	margin-top:250px;
	float: left;
 }

.arrow-left a {
	width: 30px; 
	height: 42px;
	background: url('../img/arrows.png') -1px -2px;
	display: block;
}

.arrow-left a:hover { 
	background-position: -1px -48px; 
}

.arrow-right { 
	margin-top: 250px;
	float:right;
 }

.arrow-right a {
	width: 30px; 
	height: 42px;
	background: url('../img/arrows.png') -33px -2px;
	display: block;
}

.arrow-right a:hover { 
	background-position: -33px -48px; 
}

/* Quick view */
.quickview-btn {
	position: absolute;
	display: block;
	width:86px;
	height:30px;
	line-height: 30px;

	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(219,219,219,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(219,219,219,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(219,219,219,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 );

	border: 1px solid #dedede;

	-webkit-box-shadow:
		inset 0px 1px 0px #fff,
		      0px 1px 1px rgba(0,0,0,.08);
	-moz-box-shadow:
		inset 0px 1px 0px #fff,
		      0px 1px 1px rgba(0,0,0,.08);
	box-shadow:
		inset 0px 1px 0px #fff,
		      0px 1px 1px rgba(0,0,0,.08);

	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;

	font-size:13px;
	font-weight:bold;
	text-align:center;

	color:#666666;
	text-shadow:0px 1px 0px rgba(255,255,255,.4);
}

.quickview-btn:hover {
	background: rgb(235,235,235);
	background: -moz-linear-gradient(top,  rgba(235,235,235,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,235,235,1)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(235,235,235,1) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(235,235,235,1) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebebeb', endColorstr='#ffffff',GradientType=0 );

	-webkit-box-shadow:
		inset 0px 1px 0px #fff,
		      0px 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow:
		inset 0px 1px 0px #fff,
		      0px 1px 1px rgba(0,0,0,.1);
	box-shadow:
		inset 0px 1px 0px #fff,
		      0px 1px 1px rgba(0,0,0,.1);
}

a.quickview-btn:hover, a img.quickview-btn:hover { 
	color: #666666;
	text-decoration: none;
}

.modal {
	visibility:hidden;
	padding:30px;

	background: #ffffff;

	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;

	position:absolute !important;
	top:50% !important;
	left:50% !important;
	margin-top:-115px !important;
	z-index:101;
}

.quickview-content p {
	width:100%;
	float: left;
	margin:19px 0;
}

.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.4);
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
}

a.close {
	opacity: 1;
	float: right;
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding-left: 5px;

}